<!DOCTYPE HTML>
<html>
<head>
    <title>Product Description</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <basefont font-family="Times New Roman">
    <link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/searchbar.css') }} />

    <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./static/css/table.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />-->

</head>
<body>

    <!-- TopBar-->
    <div id="title">

        <div id="logo">
            <a class="link" href="/">
                <img src={{url_for('static', filename='images/logo.png')}} width="45px" />
            </a>
            <a class="link" href="/" style="color:white;">
                <b> Home </b>
            </a>

        </div>

        {% if not loggedIn %}
        <div id="signInButton">
            <input type="submit" class="signInButton" value="Sign In" onclick="location.href='/loginForm';"></input>
        </div>
        {% elif not loggedIn_employee %}
        <div class="options">
            <button class="optionsbtn">Hello, <br>{{firstName}}</button>
            <div class="options-content">
                <a href="/order">Your orders</a>
                <a href="/profile">Your profile</a>
                <hr>
                <a href="/logout">Sign Out</a>
            </div>
        </div>
        {% else %}
        <div class="options">
            <button class="optionsbtn">Hello, <br>{{firstName}}</button>
            <div class="options-content">
                <a href="/inventory">Inventory management</a>
                <a href="/managerdashboard">Manager dashboard</a>
                <a href="/orders">Order management</a>
                <hr>
                <a href="/logout">Sign Out</a>
            </div>
        </div>
        {% endif %}
        <div id="kart">
            <a class="link" href="/cart">
                <img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
                <input type="submit" class="kart" value="CART" onclick="location.href='/cart';"></input>
            </a>
        </div>

        <div style="float: right; margin:auto; margin-top:35px;">
            <div>
                <a class="link" href="/" style="color:white;">
                    <b><i class="fa fa-arrow-circle-o-left"></i> Return Home </b>
                </a>

            </div>
        </div>

    </div>

    <!-- TopBar-->
    Order confirmed!
    Feel free to check  <a href="/order">Order Status</a>.

</body>
</html>