<!DOCTYPE HTML>
<html>

<head>

    <meta charset="UTF-8">
    <title>Inventory Management</title>
    <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./static/css/table.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />

</head>

<body>

    <h6>
        <script type="text/javascript">
            document.write(localStorage.getItem("#export"))
        </script>

    </h6>

</body>

</html>